{
  "presets": [
    ["@babel/preset-env", {"targets": {"esmodules": true}}]
  ],
  "plugins": [
    "transform-export-extensions",
    // Stage 3
    "@babel/plugin-proposal-object-rest-spread",    
  ]
}
